<div class="container">
  <app-navbar title="Table List"></app-navbar>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <i class="material-icons">assignment</i>
        </div>
        <div class="card-content">
          <h4 class="card-title">Product</h4>
          <div class="table-responsive">
            <table class="table">
              <thead class="text-primary">
              <ng-container *ngFor="let title of tableData1.headerRow">
                <th >
                  {{title.name}}
                </th>
                <th>
                  {{title.type}}
                </th>
                <th>
                  {{title.size}}
                </th>
                <th>
                  {{title.price}}
                </th>
                <th class="text-right ">
                  {{title.action}}
                </th>
              </ng-container>
              </thead>
              <tbody>
              <tr *ngFor="let item of tableData1.dataRows">
                <td>
                  {{item.name}}
                </td>
                <td>
                  {{item.category.name}}
                </td>
                <td>
                  {{item.size}}
                </td>
                <td >
                  {{item.price}}
                </td>
                <td *ngIf="item != null" class="td-actions text-right">
                  <button type="button" rel="tooltip" (click)="openDialogEdit(item)" class="btn btn-success">
                    <i class="material-icons">edit</i>
                  </button>
                  <button type="button" rel="tooltip" (click)="deleteItem(item)" class="btn btn-danger ">
                    <i class="material-icons">highlight_off</i>
                  </button>
                </td>
              </tr>
              </tbody>
            </table>
            <mat-toolbar>
              <mat-toolbar-row>
                <button type="button" rel="tooltip" class="btn btn-primary " (click)="openDialogAdd()">
                  <i class="material-icons">add</i>
                </button>
                <span class="example-spacer"></span>
                <mat-paginator (page)="pageEvent = getServerData($event)" [length]="length"
                               [pageSize]="pageSize" class="paginator" [pageSizeOptions]="pageSizeOptions">
                </mat-paginator>
              </mat-toolbar-row>
            </mat-toolbar>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
