<div class="container">
  <app-navbar title="Table List"></app-navbar>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <i class="material-icons">assignment</i>
        </div>
        <div class="card-content">
          <h4 class="card-title">Simple Table</h4>
          <div class="table-responsive">
            <table class="table">
              <thead class="text-primary">
              <ng-container *ngFor="let title of tableData1.headerRow">
                <th >
                  {{title.name}}
                </th>
                <th>
                  {{title.type}}
                </th>
                <th>
                  {{title.note}}
                </th>
                <th class="text-right ">
                  {{title.action}}
                </th>
              </ng-container>
              </thead>
              <tbody>
              <tr *ngFor="let item of tableData1.dataRows">
                <td>
                  {{item.name}}
                </td>
                <td>
                  {{item.slug}}
                </td>
                <td>
                  {{item.content}}
                </td>
                <td *ngIf="item != null" class="td-actions text-right">
                  <button type="button" rel="tooltip" (click)="openDialogEdit(item)" class="btn btn-success">
                    <i class="material-icons">edit</i>
                  </button>
                  <button type="button" rel="tooltip" class="btn btn-danger "
                          [routerLink]="['./product']" [queryParams]="{category_id: item.id}">
                    <i class="material-icons">list</i>
                  </button>
                  <button type="button" rel="tooltip"
                          class="btn btn-danger " (click)="deleteItem(item)">
                    <i class="material-icons">highlight_off</i>
                  </button>
                </td>
              </tr>
              </tbody>
            </table>
            <mat-toolbar>
              <mat-toolbar-row>
                <button type="button" rel="tooltip" class="btn btn-primary " (click)="openDialogAdd()">
                  <i class="material-icons">add</i>
                </button>
                <span class="example-spacer"></span>
<!--                <mat-paginator (page)="pageEvent = getServerData($event)" [length]="length"-->
<!--                               [pageSize]="pageSize" class="paginator" [pageSizeOptions]="pageSizeOptions">-->
<!--                </mat-paginator>-->
              </mat-toolbar-row>
            </mat-toolbar>
          </div>
        </div>
      </div>
    </div>
  </div>
<!--  <div class="row">-->
<!--    <div class="col-md-12">-->
<!--      <div class="card">-->
<!--        <div class="card-header">-->
<!--          <i class="material-icons">assignment</i>-->
<!--        </div>-->
<!--        <div class="card-content">-->
<!--          <h4 class="card-title">Striped Table</h4>-->
<!--          <div class="table-responsive">-->
<!--            <table class="table table-striped">-->
<!--              <thead>-->
<!--              <tr>-->
<!--                <th>#</th>-->
<!--                <th></th>-->
<!--                <th>Product Name</th>-->
<!--                <th>Type</th>-->
<!--                <th>Quantity</th>-->
<!--                <th class="text-right">Price</th>-->
<!--                <th class="text-right">Amount</th>-->
<!--              </tr>-->
<!--              </thead>-->
<!--              <tbody>-->
<!--              <tr>-->
<!--                <td>1</td>-->
<!--                <td><mat-checkbox></mat-checkbox></td>-->
<!--                <td>Moleskine Agenda</td>-->
<!--                <td>Oud-Office</td>-->
<!--                <td>25</td>-->
<!--                <td class="text-right">€ 49</td>-->
<!--                <td class="text-right">€ 1,225</td>-->
<!--              </tr>-->
<!--              <tr>-->
<!--                <td>2</td>-->
<!--                <td><mat-checkbox></mat-checkbox></td>-->
<!--                <td>Stabilo Pen</td>-->
<!--                <td>Office</td>-->
<!--                <td>35</td>-->
<!--                <td class="text-right">€ 10</td>-->
<!--                <td class="text-right">€ 300</td>-->
<!--              </tr>-->
<!--              <tr>-->
<!--                <td>3</td>-->
<!--                <td><mat-checkbox></mat-checkbox></td>-->
<!--                <td>A4 Paper Pack</td>-->
<!--                <td>Office</td>-->
<!--                <td>50</td>-->
<!--                <td class="text-right">€ 599.00</td>-->
<!--                <td class="text-right">€ 109</td>-->
<!--              </tr>-->
<!--              <tr>-->
<!--                <td>4</td>-->
<!--                <td><mat-checkbox></mat-checkbox></td>-->
<!--                <td>Apple iPad</td>-->
<!--                <td>Meeting</td>-->
<!--                <td>20</td>-->
<!--                <td class="text-right">€ 10.99</td>-->
<!--                <td class="text-right">€ 4,999</td>-->
<!--              </tr>-->
<!--              <tr>-->
<!--                <td>5</td>-->
<!--                <td><mat-checkbox></mat-checkbox></td>-->
<!--                <td>Apple iPhone</td>-->
<!--                <td>Communication</td>-->
<!--                <td>10</td>-->
<!--                <td class="text-right">€ 499.00</td>-->
<!--                <td class="text-right">€ 5,999</td>-->
<!--              </tr>-->
<!--              <tr>-->
<!--                <td colspan="5"></td>-->
<!--                <td style="font-weight: 500; font-size: 1.25em;" class="text-right">Total</td>-->
<!--                <td style="font-size: 26px" class="text-right">€12,999</td>-->
<!--              </tr>-->
<!--              </tbody>-->
<!--            </table>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
</div>
