::ng-deep .cdk-global-overlay-wrapper {
  display: flex;
  position: absolute;
  z-index: 1000;
}

::ng-deep .mat-form-field {
  display: contents;
  position: relative;
  text-align: left;
}

::ng-deep .product-image {
  width: 100%;
  height: 0;
  padding-bottom: 66.66667%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
