<!-- dialog-box.component.html -->
<h4 mat-dialog-title>
  <strong>
    {{action}} Product
  </strong>
</h4>
<div mat-dialog-content>
  <div *ngIf="action == 'Add' || action == 'Edit' ">
    <div class="col-12">
      <mat-form-field>
        <input placeholder="Name" matInput [(ngModel)]="local_data.name" required>
      </mat-form-field>
    </div>
    <div class="col-12">
      <mat-form-field>
        <input placeholder="Description" matInput [(ngModel)]="local_data.description" required>
      </mat-form-field>
    </div>
    <div class="col-12">
      <mat-form-field>
        <input placeholder="Price" matInput [(ngModel)]="local_data.price" required type="number">
      </mat-form-field>
    </div>
    <div class="col-12">
      <mat-form-field>
        <input placeholder="category_id" matInput [(ngModel)]="category_id" readonly>
      </mat-form-field>
    </div>
    <div class="col-12">
      <div class="product-image" [ngStyle]="{'background-image': 'url(' + local_data.avatar +')'}" ></div>
    </div>
    <div class="col-12">
      <input type="file" #fileInput id="uploadFile" (change)="uploadFileEvt($event)" name="uploadFile" multiple="multiple"
             accept="image/*" />
    </div>
    <!--    <div class="col-12">-->
    <!--      <mat-form-field>-->
    <!--        <mat-label>Item Type</mat-label>-->
    <!--        <mat-select  [(ngModel)]="local_data.checkListItemType.type" (selectionChange)='onOptionsSelected($event)'>-->
    <!--          <mat-option *ngFor="let f of itemTypeList" [value]="f.type">-->
    <!--            {{f.name}}-->
    <!--          </mat-option>-->
    <!--        </mat-select>-->
    <!--      </mat-form-field>-->
    <!--    </div>-->
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)=" doAction()">{{action}}</button>
  <button mat-button (click)="closeDialog()" mat-flat-button color="warn">Cancel</button>
</div>
