
@import url('//fonts.googleapis.com/css?family=Roboto:400,400italic,500,700|Playfair+Display:400,400italic,700,700italic|Montserrat:400|Karla:400');
::ng-deep body {
  font-family: Roboto;
  font-size: 14px;
  line-height: 1.666;
  padding-top:70px;
}
::ng-deep .main-header {
  color: #1d1d20;
  vertical-align: middle;
  display: table;
  width: 100%;
  background-color: #fff;
}
::ng-deep .main-header .header-menu {
  display: table;
  width: 100%;
  padding: 0 15px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  box-sizing: border-box;
  table-layout: fixed;
  border-bottom-color: #e4e4e4;
}
::ng-deep .header-nav-wrapper,
 .header-cart-wrapper {
  display: table-cell;
  font-weight: 700;
  vertical-align: middle;
}
::ng-deep .header-nav {
  display: block;
  margin: 0;
  text-align: center;
}
::ng-deep .header-nav-item:first-child {
  margin-left: 0;
}
::ng-deep .header-cart-item a,
.header-nav-item a {
  color:#1d1d20;
  font-family: Roboto;
}
::ng-deep .header-nav-item {
  display: inline-block;
  margin-left: 30px;
  position: inherit;
}
::ng-deep .header-cart-item .fa,
.header-nav-item .fa {
  margin-top: 1px;
  margin-left: 6px;
}
::ng-deep .header-cart {
  text-align:right;
  margin-right:30px;
}

::ng-deep .button {
  display: inline-block;
  padding: 0 30px;
  color: white;
  text-align: center;
  font-size: 0.85em;
  font-weight: 600;
  letter-spacing: .15rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border: 1px solid #3b3d38;
  cursor: pointer;
  box-sizing: border-box;
}
::ng-deep .button.button-primary {
  color: #fff;
  background-color: #3b3d38;
  border-color: #3b3d38;
}
::ng-deep .button.button-primary:hover {
  color: #fff;
  background-color: #52525b;
  border-color: #52525b;
}
::ng-deep .button.button-secondary {
  color: #1d1d20;
  background-color: #fff;
  border-color: #1d1d20;
}
::ng-deep .button.button-secondary:hover {
  color: #fff;
  background-color: #8e8e90;
  border-color: #8e8e90;
}
::ng-deep .button.button-wide {
  width: 100%;
}
::ng-deep .button.button-large {
  padding: 19px 22px;
}

