@media screen and (min-width: 768px) {
    .compare-bar-content {
        text-align: center
    }
    .header-logo-wrapper {
        text-align: left
    }
    .header-mobile-nav-wrapper {
        display: none
    }
    .mobil-shopping-cart {
        display: none
    }
}
@media screen and (max-width: 767px) {
    .header-nav-wrapper {
        display: none
    }
    .mobile-header-nav li {
        display: block;
        line-height: 30px;
    }
    .header-logo-wrapper {
        display: table-cell;
        text-align: center;
        vertical-align: top;
    }
    .header-mobile-nav-wrapper {
        display: table-cell;
        float:left;
    }
    .header-cart-item {
        display: none
    }
}


/* Dropdown Button */
.dropbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}
