<div *ngIf="orderList.length == 0">
  <h3 class="text-center mt-5">No order now!</h3>
</div>
<div class="container" *ngIf="orderList.length >0">
  <h3 class="text-center mt-5">Order List</h3>
  <table class="table">
    <thead class="bg-dark text-white">
      <tr>
        <th (click)="log(orderList)">Customer</th>
        <th>Product</th>
      </tr>
    </thead>
    <tbody class="bg-white text-dark">
      <tr *ngFor="let order of orderList">
        <td class="border">
          <div class="h-100 d-flex flex-column justify-content-around">
            <h5><strong>Khách hàng: </strong>{{order.name}}</h5>
            <h5><strong>Số địa thoại: </strong>{{order.phoneNumber}}</h5>
            <h5><strong>Ghi chú: </strong>{{order.note}}</h5>
            <h5><strong>Địa chỉ: </strong>{{order.address}}</h5>
            <h5><strong>Trạng thái: </strong>
              <div *ngIf="order.status==1">
                <h5 class="text-primary">Chờ xác nhận</h5>
                <button class="btn btn-success" (click)="updateState(order,2);">Đã xác nhận</button>
                <button class="btn btn-warning" (click)="updateState(order,5);">Hết hàng</button>
                <button class="btn btn-danger" (click)="updateState(order,6);">Hủy đơn</button>
              </div>
              <div *ngIf="order.status==2">
                <h5 class="text-success">Đã xác nhận</h5>
                <button class="btn btn-primary" (click)="updateState(order,3);">Đang vận chuyển</button>
                <button class="btn btn-warning" (click)="updateState(order,5);">Hết hàng</button>
                <button class="btn btn-danger" (click)="updateState(order,6);">Hủy đơn</button>
              </div>
              <div *ngIf="order.status==3">
                <h5 class="text-primary">Đang vận chuyển</h5>
                <button class="btn btn-success" (click)="updateState(order,4);">Hoàn thành</button>
                <button class="btn btn-danger" (click)="updateState(order,7);">Khách bom hàng</button>
              </div>
              <div *ngIf="order.status==4">
                <h5 class="text-success">Hoàn thành</h5>
              </div>
              <div *ngIf="order.status==5">
                <h5 class="text-warning">Hết hàng</h5>
              </div>
              <div *ngIf="order.status==6">
                <h5 class="text-danger">Hủy đơn</h5>
              </div>
              <div *ngIf="order.status==7">
                <h5 class="text-danger">Khách bom hàng</h5>
              </div>
            </h5>
          </div>
        </td>
        <td class="border">
          <table class="table">
            <thead>
              <tr>
                <th></th>
                <th>Món</th>
                <th>Số lượng</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let product of order.products">
                <td class="border-0"><img [src]="product.photo" width="100"/></td>
                <td class="border-0"><strong>{{product.name}}</strong></td>
                <td class="border-0">{{product.number}}</td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</div>
