:host {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #f6f6f6;
    padding-bottom: 70px;
}
.cart-page-container {
    max-width: 1140px;
    text-align: center;
    padding: 0 30px;
    margin: auto;
}
.cart-page-header h1 {
    font-size:50px;
    font-family: "Playfair Display";
    margin: 80px 0;
}
.cart-page-content {
    max-width:940px;
    margin:30px 70px;
    background-color: white;
    padding:60px;
}
.cart-item-cell {
    width: 100%;
}
.cart-total,
.cart-item-row {
    border-bottom: 1px solid #e4e4e4;
}
.cart-item-header .cart-item-cell:first-of-type {
    text-align: left;
}
.cart-item-header .cart-item-cell {
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: .15em;
    color: #9f9f9f;
    text-align: right;
}
.cart-item-thumbnail {
    float: left;
    width: 120px;
    height: 90px;
    margin-right: 15px;
    vertical-align: middle;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}
.cart-item-info {
    float: left;
}
.cart-item-brand {
    display: block;
    margin-bottom: 5px;
    font-size: 12px;
    text-transform: uppercase;
    text-align: left;
    letter-spacing: .05em;
    color: #9f9f9f;
}
.cart-item-title {
    color: #1d1d20;
    max-width: 100%;
    text-transform: uppercase;
    letter-spacing: .1em;
    text-align: left;
}
.item-price {
    color: #9f9f9f;
    font-size:16px;
    font-family: "Playfair Display";
}
.item-remove {
    font-size: 30px;
    color:#9f9f9f;
    cursor:pointer;
}
.item-remove:hover {
    color:black;
}

.cart-total {
    text-transform: uppercase;
    color:#9f9f9f;
    letter-spacing: 2px;
    margin:0;
}
.cart-total-row {
    line-height: 30px;
}
.cart-total-label {
    text-align: left;
}
.cart-total-value {
    text-align: right;
}
.cart-total-price {
    color:black
}

.cart-buttons {
    padding:20px 0;
}
.continue-shopping a {
    text-transform: uppercase;
    color: black;
    float: left;
}
.checkout-button {
    float: right;
    margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
    .cart-item-row {
        display: table;
        width: 100%;
        border-collapse: separate;
        border-spacing: 0 30px;
        box-sizing: border-box;
        table-layout: fixed;
    }
    .cart-item-product {
        width: 320%;
        text-align: left;
    }
    .cart-item-cell {
        display: table-cell;
        vertical-align: top;
        text-align: right;
    }
}
@media screen and (max-width: 820px) {
    .cart-page-content {
        margin:0;
    }
    .cart-page-header h1 {
        margin: 30px 0;
    }
    .cart-item-header {
        display: none;
    }
    .cart-item-product {
        width: 100%;
        float: left;
        margin-left: 0;
        padding-bottom: 15px;
    }
    .cart-item-quantity {
        width: 80%;
        float: left;
        padding-bottom: 15px;
        text-align: left;
    }
    .cart-item-total,
    .cart-item-action {
        text-align: right;
    }
    .cart-total-label {
        float: left;
    }
    .continue-shopping a {
        float: none;
    }
    .checkout-button {
        float: none;
        margin:20px 0 0 0;
    }
}

::ng-deep .mat-form-field-wrapper {
  width: 100%;
  position: relative;
}


@import url('//fonts.googleapis.com/css?family=Roboto:400,400italic,500,700|Playfair+Display:400,400italic,700,700italic|Montserrat:400|Karla:400');
::ng-deep body {
  font-family: Roboto;
  font-size: 14px;
  line-height: 1.666;
  padding-top:70px;
}
::ng-deep .main-header {
  color: #1d1d20;
  vertical-align: middle;
  display: table;
  width: 100%;
  background-color: #fff;
}
::ng-deep .main-header .header-menu {
  display: table;
  width: 100%;
  padding: 0 15px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  box-sizing: border-box;
  table-layout: fixed;
  border-bottom-color: #e4e4e4;
}
::ng-deep .header-nav-wrapper,
.header-cart-wrapper {
  display: table-cell;
  font-weight: 700;
  vertical-align: middle;
}
::ng-deep .header-nav {
  display: block;
  margin: 0;
  text-align: center;
}
::ng-deep .header-nav-item:first-child {
  margin-left: 0;
}
::ng-deep .header-cart-item a,
.header-nav-item a {
  color:#1d1d20;
  font-family: Roboto;
}
::ng-deep .header-nav-item {
  display: inline-block;
  margin-left: 30px;
  position: inherit;
}
::ng-deep .header-cart-item .fa,
.header-nav-item .fa {
  margin-top: 1px;
  margin-left: 6px;
}
::ng-deep .header-cart {
  text-align:right;
  margin-right:30px;
}

::ng-deep .button {
  display: inline-block;
  padding: 0 30px;
  color: white;
  text-align: center;
  font-size: 0.85em;
  font-weight: 600;
  letter-spacing: .15rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border: 1px solid #3b3d38;
  cursor: pointer;
  box-sizing: border-box;
}
::ng-deep .button.button-primary {
  color: #fff;
  background-color: #3b3d38;
  border-color: #3b3d38;
}
::ng-deep .button.button-primary:hover {
  color: #fff;
  background-color: #52525b;
  border-color: #52525b;
}
::ng-deep .button.button-secondary {
  color: #1d1d20;
  background-color: #fff;
  border-color: #1d1d20;
}
::ng-deep .button.button-secondary:hover {
  color: #fff;
  background-color: #8e8e90;
  border-color: #8e8e90;
}
::ng-deep .button.button-wide {
  width: 100%;
}
::ng-deep .button.button-large {
  padding: 19px 22px;
}


