<div class="cart-page-container">
    <div class="cart-page-header">
        <h1>Shopping Cart</h1>
    </div>
    <div class="cart-page-content" *ngIf="cartList && cartList['length'] > 0">
        <div class="cart-item-header cart-item-row">
            <div class="cart-item-cell cart-item-product"><span>Product</span></div>
            <div class="cart-item-cell cart-item-quantity"><span>Quantity</span></div>
            <div class="cart-item-cell cart-item-total"><span>Total</span></div>
            <div class="cart-item-cell cart-item-action"><span>Action</span></div>
        </div>
        <div class="cart-item-row" *ngFor="let cart of cartList;let i = index">
            <div class="cart-item-cell cart-item-product">
                <div class="cart-item-thumbnail" [ngStyle]="{'background-image': 'url(' + cart.product.avatar +')'}">
                </div>
                <div class="cart-item-info">
                    <div class="cart-item-brand">{{cart.product.brand}}</div>
                    <div class="cart-item-title">{{cart.product.title}}</div>
                </div>
            </div>
            <div class="cart-item-cell cart-item-quantity">
                <quantity-control [quantity]="cart.quantity" (onChange)="changeQuantity(cart,$event)"></quantity-control>
            </div>
            <div class="cart-item-cell cart-item-total">
                <div class="item-price">
                    {{cart.quantity*cart.product.price | currency :'VND':true }}
                </div>
            </div>
            <div class="cart-item-cell cart-item-action">
                <div class="item-remove" (click)="removeFromCart(i)">X</div>
            </div>
        </div>
        <div class="row cart-total">
            <div class="col-lg-6">
                <div class="cart-total-row row">
                    <div class="col-md-6 cart-total-label">
                        Cart overview
                    </div>
                    <div class="col-md-6 cart-total-value"></div>
                </div>
                <div class="cart-total-row row">
                    <div class="col-md-6 cart-total-label">
                        subtotal
                    </div>
                    <div class="col-md-6 cart-total-value">
                        {{totalPrice | currency :'VND':true}}
                    </div>
                </div>
                <div class="cart-total-row row">
                    <div class="col-md-6 cart-total-label">
                        total
                    </div>
                    <div class="col-md-6 cart-total-value cart-total-price">
                        {{totalPrice | currency :'VND':true}} AUD
                    </div>
                </div>
              <div class="cart-total-row row">
                <mat-form-field class="example-full-width" style="display: flex; margin: 15px 0 0 15px">
                  <mat-label>Your name</mat-label>
                  <textarea matInput [(ngModel)]="this.orderObject.name"></textarea>
                </mat-form-field>
              </div>
              <div class="cart-total-row row">
                <mat-form-field class="example-full-width" style="display: flex; margin: 15px 0 0 15px">
                  <mat-label>Phone number( require)</mat-label>
                  <textarea matInput [(ngModel)]="this.orderObject.phoneNumber"></textarea>
                </mat-form-field>
              </div>
              <div class="cart-total-row row">
                <mat-form-field class="example-full-width" style="display: flex; margin: 15px 0 0 15px">
                  <mat-label>Your address</mat-label>
                  <textarea matInput [(ngModel)]="this.orderObject.address"></textarea>
                </mat-form-field>
              </div>
              <div class="cart-total-row row">
                <mat-form-field class="example-full-width" style="display: flex; margin: 15px 0 0 15px">
                  <mat-label>Additional Note</mat-label>
                  <textarea matInput [(ngModel)]="this.orderObject.note"></textarea>
                </mat-form-field>
              </div>
            </div>
        </div>
        <div class="cart-buttons">
            <div class="continue-shopping"><a routerLink="/">continue shopping</a></div>
            <div class="checkout-button button button-primary button-large" (click)="checkout()">Checkout ({{totalPrice | currency :'VND':true}})</div>
        </div>
    </div>
    <div class="cart-page-content" *ngIf="cartList.length == 0">
        <h4>Your cart is empty.</h4>
        <a routerLink="/">Go shopping</a>
    </div>
</div>
