<!-- dialog-box.component.html -->
<h4 mat-dialog-title>
  <strong>
    {{action}} Product Category
  </strong>
</h4>
<div mat-dialog-content>
  <div *ngIf="action == 'Add' || action == 'Edit' ">
    <div class="col-12">
      <mat-form-field>
        <input placeholder="Name" matInput [(ngModel)]="local_data.name">
      </mat-form-field>
    </div>
    <div class="col-12">
      <mat-form-field>
        <input placeholder="note" matInput [(ngModel)]="local_data.note">
      </mat-form-field>
    </div>
<!--    <div class="col-12">-->
<!--      <mat-form-field>-->
<!--        <mat-label>Item Type</mat-label>-->
<!--        <mat-select  [(ngModel)]="local_data.checkListItemType.type" (selectionChange)='onOptionsSelected($event)'>-->
<!--          <mat-option *ngFor="let f of itemTypeList" [value]="f.type">-->
<!--            {{f.name}}-->
<!--          </mat-option>-->
<!--        </mat-select>-->
<!--      </mat-form-field>-->
<!--    </div>-->
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)=" doAction()">{{action}}</button>
  <button mat-button (click)="closeDialog()" mat-flat-button color="warn">Cancel</button>
</div>
