<div *ngIf="product" class="product-page">
    <div class="product-page-container">
        <ol class="product-breadcrumbs">
            <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
            <li class="breadcrumb-item"> / <a routerLink="/">Plates</a></li>
            <li class="breadcrumb-item"> / {{product.title}}</li>
        </ol>
        <div class="row">
            <div class="col-md-8">
                <div class="product-details-image" [ngStyle]="{'background-image': 'url(./assets/imgs/blue-stripe-stoneware-plate.jpg'}"></div>
            </div>
            <div class="col-md-4">
                <div class="product-details-row">
                    <div class="product-brand">{{product.name}}</div>
                    <h1 class="product-title"ca>{{product.summary}}</h1>
                    <div class="product-price">{{product.price | currency :'USD':true }}</div>
                    <div class="product-description">{{product.description}}</div>
                </div>
                <div class="product-details-button">
                    <quantity-control [quantity]="quantity" (onChange)="changeQuantity($event)"></quantity-control>
                    <div class="product-cart-button button button-primary button-large" (click)="addToCart(product)">Add to cart</div>
                </div>
            </div>
        </div>
    </div>
</div>
