<h1 mat-dialog-title>
  Remove {{local_data.name}}
</h1>

<div mat-dialog-content>
  <p>Are you sure you want to delete this</p>
</div>

<div mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="onConfirm()">Yes</button>
  <button mat-button (click)="onDismiss()" mat-flat-button color="warn">No</button>
</div>
